*,*::before,*::after {
  box-sizing: border-box;
}
body{
	margin: 0;
	font-family: arial;
	background:#fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
	
}
img{
	max-width: 100%;
}

/*header*/
.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	padding:15px 5px;
	background:#b61924;
}
.logo img{
	width: 140px;
}
.nav_icon{
	font-size: 40px;
	color: #fff;
	line-height: 1;
}


.main_container{
	height: 100vh;
	overflow: auto;
}
.block-row{
	min-height: 100vh;
	background-size: cover;
	background-position: center center;
	background-blend-mode: darken;
	background-color: rgba(48,64,166,0.8);
	font-size: 20px;
	color: #fff;
}
.block-row h2{
	font-size: 90px;
	font-weight: 700;
}

.border_left{
	background: #b61924;
	position: fixed;
	left: 0;
	top: 0;
	width: 15px;
	height: 100vh;
	z-index: 1000;
}
.border_bottom{
	background: #b61924;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 15px;
	z-index: 1000;
}

.footer{
	padding: 7px 0;
	text-align: center;
	color: #fff;
	background:#b61924;
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social_links{
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
.social_links li{
	margin:10px 20px;
	font-size: 24px;
}
.social_links li a i{
	color: #fff;
	transition: all 0.3s ease-out;
}
.social_links li a:hover i.fa-facebook{
	color: #3b5998 
}
.social_links li a:hover i.fa-twitter{
	color: #00acee 
}
.social_links li a:hover i.fa-linkedin{
	color: #0e76a8;
}
.social_links li a:hover i.fa-instagram{
	color: #3f729b 
}

#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}